@import 'variables';

.c-historico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.c-historico__botao, .c-historico__botaoUso {
  width: 7rem;
  height: 3rem;
  background-color: #1A121F;
  border-radius: 1rem;
  border: none;
  margin: 0.4rem 1rem 0;
  box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.25);

  &:active {
    background-color: #281b30;
  }

  &:disabled {
    background-color: #bbb;
    color: #fff;
    box-shadow: none;
  }
}

.c-historico__result, .c-historico__resultUso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  overflow-y: auto;
  height: 7rem;
}

.c-historico__resultUso__apagar {
  margin: 1.5rem 0 0.5rem;
  justify-content: center;
  height: 2rem;
  width: 6rem;
  background-color: #5e0000;
  color: #bbb;
  border: none;
  border-radius: 1rem;

  &:active {
    background-color: #790707;
  }
}

.c-historico__recarga__apagar {
  margin: 1.5rem 0 0.5rem;
  justify-content: center;
  height: 2rem;
  width: 7rem;
  background-color: #5e0000;
  color: #bbb;
  border: none;
  border-radius: 1rem;

  &:active {
    background-color: #790707;
  }
}


.c-historico__paragrafo {
  color: $text-colour;
  margin-top: 1rem;

}

.c-historico__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}


