.c-usar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.c-usar__letra {
  font-size: 1.5rem;
}

.c-usar__botao {
  display: flex;
  margin-top: 0.7rem;
}
/*botao onibus ou metro*/
.c-usar__botao__um {
  margin-right: 3rem;
  width: 9rem;
  height: 5rem;
  background-color: #5E0000;
  border-radius: 1rem;
  font-size: 1rem;
}

.c-usar__botao__um:active {
  background-color: #790707;
}

/*botao onibus + metro*/
.c-usar__botao__dois {
  width: 9rem;
  height: 5rem;
  background-color: #5E0000;
  border-radius: 1rem;
  font-size: 1rem;
}

.c-usar__botao__dois:active {
  background-color: #790707;
}

/* botao voltar */
.c-usar__botao__voltar {
  margin-top: 1rem; 
}

.c-usar__botao__tres {
  width: 4rem;
  height: 3rem;
  background-color: #5E0000;
  border-radius: 1rem;
}
.c-usar__botao__tres:disabled {
  background-color: #bbb;
  color: #fff;
}