
.c-zerar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.c-zerar__botao {
  width: 7rem;
  height: 3rem;
  background-color: #790707;
  border-radius: 1rem;
  border: none;
  margin-top: 1rem;
  box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.25);
}
.c-zerar__botao:active {
  background-color: #5E0000;
}